In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv("rating.csv")

In [22]:
df.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [23]:
df.userId.nunique()

138493

In [24]:
df.movieId.nunique()

26744

In [25]:
df.shape

(20000263, 4)

In [26]:
df.rating.value_counts()

4.0    5561926
3.0    4291193
5.0    2898660
3.5    2200156
4.5    1534824
2.0    1430997
2.5     883398
1.0     680732
1.5     279252
0.5     239125
Name: rating, dtype: int64

In [27]:
df = df.drop(['timestamp'], axis=1)
df.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [28]:
df = df[df.rating != 0.5]
df.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [29]:
df.rating.value_counts()

4.0    5561926
3.0    4291193
5.0    2898660
3.5    2200156
4.5    1534824
2.0    1430997
2.5     883398
1.0     680732
1.5     279252
Name: rating, dtype: int64

In [30]:
df.loc[df['rating'] == 1.5] = 1.0
df.loc[df['rating'] == 2.5] = 2.0
df.loc[df['rating'] == 3.5] = 3.0
df.loc[df['rating'] == 4.5] = 4.0

In [31]:
df.rating.value_counts()

4.0    7096750
3.0    6491349
5.0    2898660
2.0    2314395
1.0     959984
Name: rating, dtype: int64

In [32]:
df = df.astype(int)

In [35]:
df.tail()

          userId  movieId  rating
20000258       4        4       4
20000259       4        4       4
20000260  138493    69644       3
20000261  138493    70286       5
20000262       2        2       2

In [34]:
df.userId.value_counts()

3         2200343
4         1534852
2          883459
1          279351
118205       6867
           ...
90247           1
85669           1
116426          1
129194          1
35296           1
Name: userId, Length: 138475, dtype: int64

In [37]:
df.to_csv('input/ratingsCleaned.csv', index=False)